$white: #ffffff;
$black: #000000;
$gray: #565656;

$color-primary: hsla(160, 25%, 50%, 1);
$color-secondary: hsla(360, 50%, 65%, 1);

$font: $gray;

// http://easings.net/#easeOutCubic
$default-transition-easing: cubic-bezier(0.215, 0.61, 0.355, 1);
$default-transition-time: 100ms;

// Global used breakpoints
