{% extends '../layout/default.html' %}

{% block body %}
    <div class="layout__outer">

        {% include 'header/header.html' %}

        <main class="layout__inner">
            <div class="layout--aside">
                {% include 'filter/filter.html' %}

                {{ include('articles/articles.html', {
                    viewData: json('articles/articles-data.json')
                }) | safe }}
            </div>
        </main>

        {{ include('footer/footer.html', {
            viewModel: json('footer/footer-data.json'),
            translations: json('footer/footer-translations.nl.json')
        }) | safe }}

    </div>
{% endblock %}
