{% extends '../layout/default.html' %}

{% block body %}
    <div class="layout__outer">

        {{ include('header/header-loggedin.html', {
            viewModel: json('header/header-data.json'),
            translations: json('header/header-translations.nl.json')
        }) | safe }}

        <main class="layout__inner">
            <h1>{{ translations.h1 }}</h1>
            <p class="subtitle">{{ translations.subtitle }}</p>
            <div class="timeline">
                <section class="timeline__section">

                    {# @todo Refactor to viewData/translations files #}
                    {% include '../components/pu-list/pu-list.html' %}

                    <div class="timeline__subsection">
                        <h2>{{ translations.missing.h2 }}</h2>
                        <p>{{ translations.missing.paragraph }}</p>
                    </div>

                    <div class="timeline__subfooter">
                        <button class="cta" disabled>{{ translations.ctaContinue }}</button>
                    </div>

                </section>
            </div>
        </main>

        {{ include('footer/footer.html', {
            viewModel: json('footer/footer-data.json'),
            translations: json('footer/footer-translations.nl.json')
        }) | safe }}

    </div>
{% endblock %}
