{% extends '../layout/default.html' %}

{% block body %}
    <div class="layout__outer">

        {{ include('header/header-loggedin.html', {
            viewModel: json('header/header-data.json'),
            translations: json('header/header-translations.nl.json')
        }) | safe }}

        <main class="layout__inner">
            {# @todo Refactor to viewData/translations files #}
            {% include '../components/status-message/status-message.html' %}
        </main>

        {{ include('footer/footer.html', {
            viewModel: json('footer/footer-data.json'),
            translations: json('footer/footer-translations.nl.json')
        }) | safe }}

    </div>
{% endblock %}
