{% extends '../layout/default.html' %}

{% block body %}
    <div class="layout__outer">

        {{ include('header/header.html', {
            viewModel: json('header/header-data.json'),
            translations: json('header/header-translations.nl.json')
        }) | safe }}

        <main class="layout__inner">

            <article>

                <h1>Over Mijn&shy;Pensioenoverzicht.nl</h1>
                <p class="subtitle">Hieronder vindt u meer informatie over MijnPensioenoverzicht.nl. Heeft u toch nog vragen? Kijk dan eerst bij Veelgestelde vragen of u daar het antwoord op uw vraag vindt. Zo niet, neem dan gerust contact op met de Servicedesk.</p>

                <h2>Wat is Mijn&shy;Pensioenoverzicht.nl?</h2>
                <ul>
                    <li>MijnPensioenoverzicht.nl (MPO) is een informatieve website die u kunt zien als de start voor overzicht en inzicht in uw pensioen. U vindt informatie over de AOW en uw pensioen via al uw werkgevers (oud en nieuw).</li>
                    <li>
                        U vindt antwoord op vragen als:
                        <ul>
                            <li>Hoeveel AOW en pensioen heb ik opgebouwd?</li>
                            <li>Wat is mijn te bereiken AOW en pensioen?</li>
                            <li>Wat ontvangen mijn nabestaanden als ik overlijd?</li>
                            <li>Welke gebeurtenissen in mijn leven zijn van invloed op mijn pensioen?</li>
                        </ul>
                    </li>
                    <li>Daarnaast wijst MijnPensioenoverzicht.nl de weg naar de pensioenuitvoerders voor meer inzicht en actie (bijv. voor het wijzigen van uw gegevens in het kader van een verandering in uw privé - of werksituatie).</li>
                    <li>De website MijnPensioenoverzicht.nl werd in 2011 door de pensioensector gelanceerd om mensen beter inzicht te geven in hun pensioen.</li>
                </ul>

                <h2>Van wie is Mijn&shy;Pensioenoverzicht.nl?</h2>
                <p>MijnPensioenoverzicht.nl wordt verzorgd door de Stichting Pensioenregister (SPR). De SPR is een samenwerkingsverband tussen de Sociale Verzekeringsbank (SVB), de Pensioenfederatie en het Verbond van Verzekeraars.</p>

                <h2>Wie zitten in het bestuur van de Stichting Pensioenregister?</h2>
                <p>Het bestuur van de Stichting Pensioenregister bestaat uit vertegenwoordigers van de Sociale Verzekeringsbank(SVB), de Pensioenfederatie en het Verbond van Verzekeraars. Er is een onafhankelijk voorzitter.</p>

                <h2>Doelgroeponderzoeken</h2>
                <p>In het voorjaar van 2017 deed Motivaction in opdracht van Stichting Pensioenregister onderzoek naar een drietal doelgroepen. Dit zijn gescheiden vrouwen, zzp-ers die langer dan 5 jaar zelfstandig zijn en getrouwde of samenwonende jongeren van 18-34 jaar. U vindt de rapporten
                    <a target="_blank" href="http://communicatie.pensioenregister.nl/2017/05/22/publicaties/">hier</a>.</p>

                <h2>Heeft u vragen of wilt u meer informatie?</h2>
                <ul>
                    <li>Voor vragen over de werking van de website en ontbrekende pensioeninformatie kunt u contact opnemen met de Servicedesk Pensioenregister via telefoonnummer 020-7512870 of info@mijnpensioenoverzicht.nl.</li>
                    <li>Voor meer inhoudelijke vragen over pensioen en AOW kunt u ook eerst even kijken bij het overzicht van Veelgestelde vragen.</li>
                    <li>Heeft u vragen over een specifieke pensioenregeling, neem dan contact op met de betreffende pensioenuitvoerder. De contactgegevens van alle pensioenuitvoerders vindt u op deze website.</li>
                    <li>Algemene Informatie over pensioen vindt u op Pensioenkijker.nl.</li>
                </ul>

            </article>

        </main>

        {{ include('footer/footer.html', {
            viewModel: json('footer/footer-data.json'),
            translations: json('footer/footer-translations.nl.json')
        }) | safe }}

    </div>
{% endblock %}
