<div class="pu-item-nu pu-item-nu--aow">

    <div id="pu-item-nu--aow__trigger" class="pu-item-nu__trigger pu-item-nu--aow__trigger"
      data-module="ui/toggle/Trigger,ui/toggle/Toggle"
      data-targets="pu-item-nu--aow__toggle,pu-item-nu--aow__trigger"
      data-toggle-active="true">
        <h2>Uw AOW:</h2>
        <button class="pu-item-nu__btn">
            <span class="visuallyhidden">Openen/sluiten AOW</span>
        </button>
    </div>

    <section id="pu-item-nu--aow__toggle" class="pu-item-nu__toggle pu-item-nu-rows"
      data-module="ui/toggle/Toggle"
      data-toggle-active="true">

        <header class="pu-item-nu-rows__subtitles">
            <div class="pu-item-nu-rows__col">
                <h3>Uitvoerder</h3>
            </div>
            <div class="pu-item-nu-rows__col">
                <h3>Opgebouwd</h3>
                <span>bruto per jaar</span>
            </div>
        </header>

        <ol class="pu-item-nu-rows__rows">
            <li class="pu-item-nu-rows__pu pu-item-nu-row">
                <div class="pu-item-nu-row__pu-id">
                    <figure class="pu-item-nu-row__logo">
                        LOGO
                    </figure>
                    <h4 class="pu-item-nu-row__name">
                        Sociale Verzekeringsbank
                    </h4>
                </div>
                <div class="pu-item-nu-row__pu-money">
                    &euro; 1.337
                </div>
            </li>
        </ol>

        <footer class="pu-item-nu-rows__disclaimer">
            <ul>
                <li>De AOW is het wettelijke pensioen van de overheid, dat u ontvangt vanaf uw AOW-leeftijd.</li>
                <li>Uw AOW-leeftijd hangt af van uw geboortedatum.</li>
                <li>Geboren op 1 oktober 1955 of later? Uw AOW-leeftijd wordt vanaf 2023 gekoppeld aan de levensverwachting en kan daardoor verschuiven. Check uw verwachte AOW-leeftijd. Kijk bij de veelgestelde vragen voor meer informatie.</li>
            </ul>
            <p>Let op: Heeft u niet altijd in Nederland gewoond of gewerkt? Dan kan uw AOW leeftijd lager uitvallen.</p>
        </footer>

    </section>

</div>
