{% macro pensioenHeader(pensioen) %}
    <header class="pu-item-nu-rows__subtitles">
        <div class="pu-item-nu-rows__col">
            <h3>{{ pensioen.puTitle }}</h3>
        </div>
        <div class="pu-item-nu-rows__col">
            <h3>{{ pensioen.moneyTitle }}</h3>
            <span>{{ pensioen.unit }}</span>
        </div>
    </header>
{% endmacro %}

{% macro pensioenUitvoerders(pus) %}
    <ol class="pu-item-nu-rows__rows">
        {% for pu in pus %}
            <li class="pu-item-nu-rows__pu pu-item-nu-row">
                <div class="pu-item-nu-row__pu-id">
                    <figure class="pu-item-nu-row__logo">
                        LOGO
                    </figure>
                    <h4 class="pu-item-nu-row__name">
                        {{ pu.name }}
                    </h4>
                </div>
                <div class="pu-item-nu-row__pu-money">
                    &euro; {{ pu.money }}
                </div>
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

<div class="pu-item-nu pu-item-nu--pensioen">

    <div id="pu-item-nu--pensioen__trigger" class="pu-item-nu__trigger pu-item-nu--pensioen__trigger"
      data-module="ui/toggle/Trigger,ui/toggle/Toggle"
      data-targets="pu-item-nu--pensioen__toggle,pu-item-nu--pensioen__trigger"
      data-toggle-active="true">
        <h2>{{ translations.h2 }}</h2>
        <button class="pu-item-nu__btn">
            <span class="visuallyhidden">{{ translations.toggle }}</span>
        </button>
    </div>

    <section id="pu-item-nu--pensioen__toggle" class="pu-item-nu__toggle pu-item-nu-rows"
      data-module="ui/toggle/Toggle"
      data-toggle-active="true">

        <section class="pu-item-nu--pensioen__section pu-item-nu--pensioen__section--nu">
            <h3 class="pu-item-nu--pensioen__subtitle">{{ translations.pensioenNu.title }}</h3>
            {% if viewModel.pus.nu.length %}
                {{ pensioenHeader(translations.pensioenNu) }}
                {{ pensioenUitvoerders(viewModel.pus.nu) }}
            {% else %}
                <p>{{ translations.pensioenNu.noPensioen }}</p>
            {% endif %}
        </section>

        <section class="pu-item-nu--pensioen__section pu-item-nu--pensioen__section--eerder">
            <h3 class="pu-item-nu--pensioen__subtitle">{{ translations.pensioenEerder.title }}</h3>
            {% if viewModel.pus.eerder.length %}
                {{ pensioenHeader(translations.pensioenEerder) }}
                {{ pensioenUitvoerders(viewModel.pus.eerder) }}
            {% else %}
                <p>{{ translations.pensioenEerder.noPensioen }}</p>
            {% endif %}
        </section>

        <footer class="pu-item-nu-rows__disclaimer">
            <ul>
                {% for bullet in translations.disclaimer.bullets %}
                <li>{{ bullet }}</li>
                {% endfor %}
            </ul>
            <p>{{ translations.disclaimer.paragraph }}</p>
        </footer>

    </section>

</div>
