<footer class="footer">
    <div class="layout__inner">
        <ol>
            <li><a href="/templates/content/about.html">{{ translations.about }}</a></li>
            <li><a href="/templates/content/about.html">{{ translations.faq }}</a></li>
            <li><a href="/templates/content/about.html">{{ translations.terms }}</a></li>
            <li><a href="/templates/content/about.html">{{ translations.disclaimer }}</a></li>
            <li>&copy; {{ viewModel.currentYear }}</li>
        </ol>
    </div>
</footer>
