.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--field {
        display: inline-block;
        margin: 0; padding: 0;

        border: 0;

        &:first-of-type {
            flex-grow: 1;
        }
    }
    &--label {

    }
    &--input {
        width: 100%;
        padding: .3rem;

        font-size: 2rem;
        border: 1px solid $gray;
    }
    &--submit {
        padding: .75rem 1.35rem;
        font-size: 1rem;
        border: 1px solid $gray;
        border-left: 0;

        background-color: transparent;
    }
}
